* {
  font-family: sans-serif
}

html, body {
  margin: 5;
  border: 0;
  padding: 0;
  background-color: #d5d2fa;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  text-align: center
  font-size: 5em;


main > h2 {  
  text-align: left
  font-size: 4em;
